@font-face {
  font-family: 'Orbitron';
  src: url('/src/fonts/orbitron.ttf');
}

body {
  background: url('../src/img/cover2.jpg') no-repeat center center / cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  color: #F1FADA;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Orbitron';
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent url('../src/img/cover.jpg') no-repeat center center/cover;
  z-index: -1;
  pointer-events: none;
}

h1 {
  margin-bottom: 60px;
  color: #F1FADA;
  text-align: center;
}

h2 {
  color: #00d66b;
  margin-top: 10px;
  text-align: center;
}

.centered {
  display: flex;
  justify-content: space-around;
}

nav ul {
  font-size: 20px;
  padding-left: 0px;
}

.borderColor {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #00d66b;
}

.centered a {
  text-decoration: none;
  color: #F1FADA;
  font-size: 20px;
}

.space {
  margin-bottom: 25px;
  color: #FAEED1;
}

.centered a:hover {
  color: #00d66b;
}

.centered li {
  list-style: none;
}

.title1 {
  font-size: 40px;
  margin-right: 20px;
  color: #00d66b;
  text-decoration: underline
}

.title2 {
  margin-left: 20px;
  font-size: 40px;
  color: #00d66b;
  text-decoration: underline
}

strong {
  color: #00d66b;
}

nav navbar-expand-lg bg- {
  background-color: #000;
}

form {
  margin-top: 20px;
}

.centered2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 170px;
}

.paddingLeft {
  margin-top: 20px;
  padding-left: 20px;
  text-align: center;
}

.form-control {
  background-color: #304D30;
  border: 1px solid #304D30;
  color: #fff;
}

.form-control::placeholder {
  color: #fff;
}

.form-control:focus {
  background-color: #304D30;
  border: 1px solid #00d66b;
  color: #fff;
}

.container-fluid {
  min-width: 100%;
}

p,
strong {
  font-size: 18px;
}

@media screen and (min-width: 576px) {

  h1 {
    font-size: 60px;
  }

  .centered2 {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  .paddingLeft {
    margin-top: 20px;
    padding-left: 20px;
    text-align: left;
  }
}